
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="UserName" value="Username" id="username" [(ngModel)]="username" ngModel name="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" value="" id="password" [(ngModel)]="password" ngModel name="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>